th {
    background-color: lightblue;
    color: white;
    padding: 15px;
}

td {
    text-align: center;
}

table{
    border: 1px;
    width: 500px;
}

.form-table{
    width: 300px;
}

#error-block{
    color: red;
}
