<div id = "error-block" tpl-foreach ="$errors as $error">
    {{$error}}
</div>

<form method="post" action="?cmd=add" enctype="application/x-www-form-urlencoded">
    Eesnimi:
    <input name="firstName" value  = "{{$person -> firstName}}">
    Perekonnanimi:
    <input name="lastName" value  = "{{$person -> lastName}}">
    Telefonid:
    <input name="phone1" value  = "{{$phone1}}">
    <input name="phone2" value  = "{{$phone2}}">
    <input name="phone3" value  = "{{$phone3}}">
    <input name="submitButton" type="submit" value="Salvesta">
</form>

