<table>
    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Phone
        </th>
    </tr>


    <div tpl-foreach="$people as $person">
        <tr>
            <td>
                <a href="?cmd=show_edit_page&id={{$person ->id}}">{{$person -> firstName}}</a>
            </td>
            <td>{{$person -> lastName}}</td>
            <td>
                <div tpl-foreach ="$person->phones as $phone">
                {{$phone}}
                </div>
            </td>
            <td>
            </td>
        </tr>
    </div>



</table>



<!--<div tpl-foreach="$people as $person">
    First name: {{$person -> firstName}}<br>
    Last Name: {{$person -> lastName}}<br>
    Phone: {{$person -> phone}}<br>
</div>-->
