<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
        <a href="?cmd=show_list_page" id="list-page-link">Nimekiri</a>
        <a href="?cmd=show_add_page" id="add-page-link">Lisa</a>
</nav>

<main tpl-include = "{{ $template}}"> </main>

</body>
</html>
